body{
    background-color: aqua;
}

.horizontal-ads{
    img{
        width: 100%;
        aspect-ratio: 8/1;
        object-fit: fill;
    }
}

#trips_section{
    .trips{
        &_trip{
            margin: 10px 0;
            background-color: red;
            &_image{
                img{
                    width: 100%;
                aspect-ratio: 1;
                border-radius: 15px;
                object-fit: cover;
                }
                
            }
        }
    }
}